<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <!-- Define the routing service to be hosted -->
    <services>
      <service name="System.ServiceModel.Routing.RoutingService" behaviorConfiguration="RoutingBehavior">
        <host>
          <baseAddresses>
            <!-- Address for service to be hosted -->
            <!-- Note: You may need to give your user permissions to use port 8200 - See Week 5 Tutorial for instructions -->
            <add baseAddress="http://localhost:8200/AirportSolution/service" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="" name="RoutingEndpoint" contract="System.ServiceModel.Routing.IRequestReplyRouter" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="RoutingBehavior">
          <!-- Router table lists the primary and secondary services -->
          <routing filterTableName="RouterTable" routeOnHeadersOnly="false" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <routing>
      <filters>
        <!-- Routing will be performed on all requests received -->
        <filter name="failsafe" filterType="MatchAll" />
      </filters>
      <filterTables>
        <filterTable name="RouterTable">
          <!-- Your primary service should be listed as the endpoint -->
          <add filterName="failsafe" endpointName="DatabaseService" backupList="BackupService" />
        </filterTable>
      </filterTables>

      <!-- Define our backup endpoint to be used in case of a failure -->
      <backupLists>
        <backupList name="BackupService">
          <!-- Endpoint name should be your backup service -->
          <add endpointName="DatabaseBackupService" />
        </backupList>
      </backupLists>
    </routing>

    <!-- Define the service clients and their corresponding endpoint address -->
    <!-- Note: basicHttpBinding is used by default for a WCF Service Application and is probably applicable to your project -->
    <client>
      <endpoint address="http://airportdbservice.cloudapp.net/Service.svc" binding="basicHttpBinding" bindingConfiguration="" contract="*" name="DatabaseService" />
      <endpoint address="http://airportdbbackupservice.cloudapp.net/Service.svc" binding="basicHttpBinding" bindingConfiguration="" contract="*" name="DatabaseBackupService" />
    </client>

  </system.serviceModel>
</configuration>